body {
  background-color: #ffffff;
}
.heading-container {
    background-color: #666262;
    text-align: center;
  /* font-size: 30px; */
    color: aliceblue;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}
.expenseIem-container {
  display: flex;
  background-color: #396679;
  justify-content: space-between;
  border: 3px solid white;
  border-radius: 8px;
  align-items: center;
  margin-top: 21px;
  color: aliceblue;
}
.expense {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.location {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.amount {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: #ea7070;
}
