.filter-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 49, 59);
    border-radius: 8px;
}

.select{
    margin: 5px;
    padding: 5px;   
}
.label{
    margin: 5px;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;

}